<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true"
      lang="en">

<div class="tx-cms-census">
    <f:render section="content"/>
</div>
<f:if condition="{settings.enableList}">
    <f:then>
        <h2 class="element-header "><span><f:translate key="tx_cmscensus_chart_url_list"/></span></h2>
        <div class="tx-cms-census">
            <f:render section="listContent"/>
        </div>
    </f:then>
</f:if>
<div class="row tx-cms-census-footer">
    <div class="col-sm">
        <small>
            &copy; CMSCensus
        </small>
    </div>
</div>
</html>