.tx-cms-census {
    background-color: #eeeeee;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 1rem;
}

.tx-cms-census-footer {
    margin-top: 0.8rem;
}
 
/* CSS styles moved from setup.typoscript to cmscensus.css */
textarea.f3-form-error {
    background-color:#FF9F9F;
    border: 1px #FF0000 solid;
}

input.f3-form-error {
    background-color:#FF9F9F;
    border: 1px #FF0000 solid;
}

.tx-cms-census table {
    border-collapse:separate;
    border-spacing:10px;
}

.tx-cms-census table th {
    font-weight:bold;
}

.tx-cms-census table td {
    vertical-align:top;
    box-shadow: none;
}

ul.typo3-messages {
    list-style: none;
    padding: 0;
}

ul.typo3-messages .message-error {
    color: red;
}

ul.typo3-messages .message-ok {
    color: green;
}

h1.h1_url_headline {
    padding-left: 5pt;
}

.pagination-block .ns-pagination li{
    list-style: none;
}

.pagination-block .ns-pagination li:before,
.pagination-block .ns-pagination li:after {
    display:none !important;
}

.pagination-block {
    position: relative;
    width:100%;
    margin-bottom: 30px;
    display: inline-block;
}

.pagination-block--center {
    text-align: center;
}
.pagination-block--center .ns-pagination {
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
}

.dflex, .cus-row {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.ns-pagination {
    margin: 20px 0;
    padding: 0;
}
.ns-pagination li:not(:last-child) {
    margin-right: 4px;
}
.ns-pagination li.active,
.ns-pagination li:hover {
    background-color: #343a40;
    color: #fff;
}
.ns-pagination li,
.ns-pagination li a{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
}
.ns-pagination li,
.GITheWall .ns-pagination li {
    width: 30px;
    padding: 0;
}
.GITheWall .ns-pagination li {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.ns-pagination li  {
    position: relative;
    text-align: center;
    list-style: none;
    border: 1px solid #343a40;
    color: #343a40;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    font-weight: 600;
}
.ns-pagination li a{
    color: inherit;
    text-decoration: none;
    padding: 5px 0;
    width:100%;
    height: 100%;
}
.pagination-block--center {
    text-align: center;
}
.pagination-block--center .ns-pagination {
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
}
.up_down_icon{
    height: 15px;
    width: 15px;
    float: right;
}

/* Version Css */
.columnSort{
    cursor: pointer;
}

.title {
    color: #363636;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
}
.title.is-4 {
    font-size: 1.5rem;
}
.content ul {
    list-style: disc outside;
    margin-left: 2em;
    margin-top: 1em;
}
li a {
    color: #f49700;
    cursor: pointer;
    text-decoration: none;
    font-size: larger;
}
  
li a:hover {
    color: #a86800;
}
  .chart-container {
    position: relative;
    margin: auto;
    height: 80vh;
    width: 80vw;
  }